<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('page_home') }}">
            <img src="/static/images/logo-tubarao-01.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Squallo Software
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link active" aria-current="page" href="{{ url_for('page_home') }}">Home</a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produtos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Auditorias</a></li>
                    <li><a class="dropdown-item" href="#">Gestão Hoteleira</a></li>
                    <li><a class="dropdown-item" href="#">Gestão Municipal</a></li>
                </ul>
            </div>
            {% if current_user.is_authenticated %}
            <div class="navbar-nav ms-auto">
                <a class="nav-link" style="color: lawngreen; font-weigth: bold;">
                    <i class="fa-regular fa-user"></i> 
                    Bem vindo, {{ current_user.usuario }}
                </a>
                <a class="nav-link" href="{{ url_for('page_logout') }}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{{ url_for('page_login') }}">Login</a>
                <a class="nav-link" href="{{ url_for('page_cadastro') }}">Cadastro</a>
            </div>
            {% endif %}
        </div>    
    </div>
</nav>