{% extends 'base.html' %}

{% block titulo %}
    {{ titulopagina }}
{% endblock %}

{% block conteudo %}
    <div class="py-5">
        {% if  current_user.is_authenticated == False %}
            <header class="h-100 p-5 text-white bg-dark text-center justify-content-center align-items-center">
                <h1 class="display-5 fw-bold">Squallo Software</h1>
                <br>
                <p class="fs-4" style="color: white;">Olá, seja bem vindo! Clique no botão abaixo para entrar</p>
                <br>
                <a class="btn btn-success" type="button" href="{{ url_for('page_login') }}">Iniciar</a>
            </header>
        {% endif %}
    </div>
{% endblock %}